<a href="https://colab.research.google.com/github/ConradRe/BTE320/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Display surface area of cylinder with height 10 and radius 3

In [ ]:
# Calculate surface area cylinder
h = 10 # height
r = 3 # radius
pi = 3.14 # pi

# Calculate area
Area = (2 * pi * r ** 2) + (2 * pi * r * h)
# Display result on screen
print(Area)

244.92000000000002

In [ ]:
type(r)

int

Rock, Paper, Scissors

In [ ]:
p1 = input("rock, paper, scissors: ")
p2 = input("rock, paper, scissors:")
if p1 == p2:
  print: ("Tie")
if p1 == 'rock' and p2 == 'scissors':
  print("Player 1 wins")
if p1 == 'rock' and p2 == 'paper':
  print("Player 2 wins")
if p1 == 'paper' and p2 == 'rock':
  print("Player 1 wins")
if p1 == 'paper' and p2 == 'scissors':
  print("Player 2 wins")
if p1 == 'scissors' and p2 == 'rock':
  print("Player 2 wins")
if p1 == 'scissors' and p2 == 'paper':
  print("Player 1 wins")

rock, paper, scissors: rock
rock, paper, scissors:scissors
Player 1 wins

In [ ]:
p1 = input("Player 1: rock, paper, scissors: ")
p2 = input("Player 2: rock, paper, scissors: ")
if p1 == p2:
  print: ("Tie")
elif (
    (p1=='rock' and p2=='scissors') or
    (p1=='paper' and p2=='rock') or
    (p1=='scissors' and p2=='paper')
):
  print("Player 1 wins")
else:
  print("Player 2 wins")

Player 1: rock, paper, scissors: paper
Player 2: rock, paper, scissors: scissors
Player 2 wins

9/11:

In [ ]:
n1 = float(input("Enter a number: "))
symbol = input("Enter a symbol: ")
n2 = float(input("Enter a number: "))
if symbol == '+':
  print(n1 + n2)
elif symbol == '-':
  print(n1 - n2)
elif symbol == '*':
  print(n1 * n2)
elif symbol == '/':
  print(n1 / n2)
else:
  print(n1 ** n2)

Enter a number: 6
Enter a symbol: **
Enter a number: 3
216

In [ ]:
play = input("Do you want to play? (yes/no)")
while play == 'yes':

  p1 = input("rock, paper, scissors: ")
  p2 = input("rock, paper, scissors:")


  if p1 == 'rock' and p2 == 'scissors':
    print("Player 1 wins")
  elif p1 == 'rock' and p2 == 'paper':
    print("Player 2 wins")
  elif p1 == 'paper' and p2 == 'rock':
    print("Player 1 wins")
  elif p1 == 'paper' and p2 == 'scissors':
    print("Player 2 wins")
  elif p1 == 'scissors' and p2 == 'rock':
    print("Player 2 wins")
  elif p1 == 'scissors' and p2 == 'paper':
    print("Player 1 wins")
  else:
    print("Tie")
  play = input("Do you want to play? (yes/no)")

Do you want to play? (yes/no)yes
rock, paper, scissors: rock
rock, paper, scissors:scissors
Player 1 wins
Do you want to play? (yes/no)yes
rock, paper, scissors: scissors
rock, paper, scissors:scissors
Tie
Do you want to play? (yes/no)yes
rock, paper, scissors: paper
rock, paper, scissors:scissors
Player 2 wins
Do you want to play? (yes/no)no

In [ ]:
import random
play = input("Do you want to play? (yes/no)")
while play == 'yes':

  p1 = input("rock, paper, scissors: ")
  p2 = random.choice(['rock', 'paper', 'scissors'])


  if p1 == 'rock' and p2 == 'scissors':
    print("Player wins")
  elif p1 == 'rock' and p2 == 'paper':
    print("Computer wins")
  elif p1 == 'paper' and p2 == 'rock':
    print("Player wins")
  elif p1 == 'paper' and p2 == 'scissors':
    print("Computer wins")
  elif p1 == 'scissors' and p2 == 'rock':
    print("Computer wins")
  elif p1 == 'scissors' and p2 == 'paper':
    print("Player wins")
  else:
    print("Tie")
  play = input("Do you want to play? (yes/no)")
print('Have a nice day!')

Do you want to play? (yes/no)yes
rock, paper, scissors: rock
Player wins
Do you want to play? (yes/no)yes
rock, paper, scissors: scissors
Tie
Do you want to play? (yes/no)no
Have a nice day!

9/18:

In [ ]:
flat = 5
hourly = 2.5
min = 10
max = 20

for i in range (1,9):
  rate = flat + (i * hourly)
  if rate < 10:
    print(i, min)
  elif rate > 20:
    print(i, max)
  else:
    print(i, rate)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
for ad in range(0,201,25):
  ticketprice = 10
  attendNOAD = 20
  fixed = 200
  tickets = 20 + 2 * round(ad**.5)

  profit = tickets * ticketprice - ad - fixed
  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

9/25:

In [ ]:
L = []

item = int(input('Give a value: '))
while item != 0:
  L.append(item)
  item = int(input('Give a value: '))

print(L)

Give a value: 3
Give a value: 4
Give a value: 5
Give a value: 6
Give a value: 0
[3, 4, 5, 6]

9/30:

In [ ]:
months = {}
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
annual_salary = float(input('Enter annual salary: '))
portion = float(input('Enter portion saved: '))
total_cost = float(input('Enter cost of house: '))

current_savings = 0
months = 0

while...:
  expr1

Enter annual salary: 90000
Enter portion saved: 35
Enter cost of house: 1000000

NameError: name 'expr1' is not defined

In [ ]:
def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee

h = int(input('Enter number of hours: '))
fee = calcFee(h)
print(fee)

Enter number of hours: 4
15.0

In [ ]:
def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee

def displayFee(fee):
  print(fee)

h = int(input('Enter number of hours: '))
fee = calcFee(h)
print(fee)

Enter number of hours: 4
15.0

In [ ]:
def calcFee(hours, decimals=2):
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)
  return fee

def displayFee(fee):
  print(fee)

h = int(input('Enter number of hours: '))
fee = calcFee(h)
def displayFee(fee):
  print(fee)
fee = displayFee(fee)

Enter number of hours: 3
12.5

10/28:

In [ ]:
def reverse(s):
  if len(s) == 1:
    return(s)
  else:
   return s[-1] + reverse(s[1:-1]) + s[0]

reverse('Hello')

'olleH'

11/6:

In [ ]:
def wAvg(L, w):
  try:
    res = []
    for i in range(len(L)):
     res.append(w[i] * L[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
    print('Divded by zero')
    return None
  except TypeError:
    print('Non-numerical objects found')
    return None
  except Exception as e:
    print(f'Unknown error: {e}')
    return float('nan')
wAvg([1, 2, 3], [.2, 0, -.2])

Divded by zero

11/11:

In [11]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
  def __str__(self):
    return f'Name: {self.name}'

In [12]:
s1 = Student("James Bond", "007")
s2 = Student("Clark Kent", "333")

print(s1)

Name: James Bond